.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    grid-gap: 20px;
   
  }

  img{
    /* height: 100%;
    width: 100%; */
    border: rgba(22, 1, 181, 0.864) 5px solid;
  }
  
  img{
    padding: 10px;
    border: 12px;
    border-color: rgb(242, 135, 5);
  }